<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello FizzBuzz</title>
    <style type="text/css">
        .hello {
            font-size: 50pt;
            font-family: Helvetica;
            border: medium solid #000;
        }
    </style>
</head>
<body>

<div class="hello">
    <form action="/fizzbuzz" method="get">
        <label for="number">数値を入力</label> <input type="text" name="number" id="number" value="15">
        <input type="submit">
    </form>
</div>
<table class="hello">
    <!--/*@thymesVar id="fizzList" type="java.util.List<com.samuraism.training.model.Fizz>"*/-->
    <tr th:each="fizz : ${fizzList}">
        <td th:text="${fizz.number}" class="hello">0</td>
        <td th:text="${fizz.fizzBuzz}" class="hello">FizzBuzz</td>
    </tr>
</table>
</body>
</html>